*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
}

.container{
    position: absolute;
    width: 1000px;
    height: 500px;
    left: calc(50vw - 500px); 
    top: calc(50vh - 250px); 
    
    background-position:center;
    background-size: cover;
    border: 2px solid black;
    overflow: hidden;
    // background-color: red;

}
.person{
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: end;
    img{

        width: 100px;
        height: 100px;
        filter: invert(1);
    }
    transition: transform 200ms linear;
}
.obstacle{
    position: absolute;
    bottom: 0;
    right: -100px;
    
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: end;
    img{
        width: 60px;
        
    }
    // animation: movingObstacle 3s linear infinite ;
}
@keyframes movingObstacle {
    0%{
        right: 0px;
    }
    100%{
        right: 1000px;
    }
}
.gameover{
    background-color: rgb(0, 0, 0);
    z-index: 2;
    h1{
        text-align: center;
        display: block;
        font-size: 4rem;
        color: white;
    }
    button{
        display: block;
        margin: auto;
        background-color: red;
        color: white;
        padding: 2rem;
        margin-top: 100px;
        text-align: center;
        font-size: 5rem;
        border-radius: 50%;
        cursor: pointer;
        
        &:hover {
            background-color: rgb(255, 77, 77);
        }
    }
}

.hidden{
    display: none;
}
.rock{
    right: translateX(100px);
}
.dog{
    transform: translateX(100px);
    bottom: -25px;
    
    img{
        height: 100px;
        width: fit-content;
        filter: invert(1);
    }
}